/* frontend/src/index.css */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.map-container {
  width: 100%;
  height: 100%; /* This now works because the parent #root has height */
  z-index: 1;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}